In [28]:
import numpy as np
import pandas as pd
import platform
import matplotlib.pyplot as plt
import pymysql

In [2]:
oz3 = pd.read_csv('../data/datain/Ozdata.csv', encoding='euc-kr')

In [3]:
pa3 = pd.read_csv('../data/datain/koreaasthmatic.csv', encoding='euc-kr')

In [4]:
weather3 = pd.read_csv('../data/datain/korea(environment).csv', encoding='euc-kr')

In [5]:
del oz3['날짜']
del oz3['지점']
oz3

          O3
0      0.029
1      0.037
2      0.039
3      0.036
4      0.028
5      0.028
6      0.024
7      0.026
8      0.028
9      0.025
10     0.029
11     0.023
12     0.023
13     0.029
14     0.018
15     0.027
16     0.018
17     0.025
18     0.030
19     0.024
20     0.021
21     0.023
22     0.029
23     0.031
24     0.025
25     0.033
26     0.029
27     0.023
28     0.019
29     0.018
...      ...
14562  0.037
14563  0.040
14564  0.043
14565  0.039
14566  0.031
14567  0.040
14568  0.034
14569  0.039
14570  0.040
14571  0.035
14572  0.029
14573  0.028
14574  0.036
14575  0.037
14576  0.033
14577  0.033
14578  0.039
14579  0.047
14580  0.026
14581  0.031
14582  0.032
14583  0.039
14584  0.044
14585  0.075
14586  0.046
14587  0.031
14588  0.041
14589  0.030
14590  0.042
14591  0.025

[14592 rows x 1 columns]

In [6]:
del pa3['날짜']
del pa3['지점']
pa3

       발생건수(건)
0          253
1          797
2           94
3         1638
4         1096
5         1027
6          974
7         1100
8          757
9           78
10        1527
11        1049
12         993
13         986
14        1084
15         781
16          69
17        1456
18         945
19         976
20        1037
21        1106
22         711
23          76
24        1337
25        1046
26         988
27        1003
28        1139
29         686
...        ...
14562     1100
14563      797
14564      110
14565     1315
14566     1043
14567      297
14568     1117
14569     1023
14570      758
14571       88
14572     1227
14573      931
14574      402
14575      999
14576      870
14577      708
14578       88
14579     1100
14580      775
14581      791
14582      798
14583      863
14584      664
14585       83
14586     1149
14587      711
14588      761
14589      806
14590      862
14591      657

[14592 rows x 1 columns]

In [7]:
df =pd.concat([weather3, pa3], axis=1)

In [8]:
df= pd.concat([df, oz3], axis=1)

In [9]:
df

,지점,날짜,평균기온(°C),최저기온(°C),최고기온(°C),평균 상대습도(%),평균 현지기압(hPa),발생건수(건),O3
0,강원,20160101,5.1,2.1,8.9,33.0,1024.0,253,0.029
1,강원,20160102,9.1,5.5,11.2,43.8,1017.0,797,0.037
2,강원,20160103,9.0,5.3,13.8,55.8,1014.8,94,0.039
3,강원,20160104,7.4,3.3,12.0,33.8,1016.2,1638,0.036
4,강원,20160105,3.0,0.4,7.7,16.3,1020.3,1096,0.028
5,강원,20160106,1.9,-0.6,5.8,30.3,1018.2,1027,0.028
6,강원,20160107,1.3,-1.6,6.1,29.3,1017.7,974,0.024
7,강원,20160108,0.5,-2.2,4.4,24.0,1016.4,1100,0.026
8,강원,20160109,1.7,-1.1,5.6,32.8,1018.7,757,0.028
9,강원,20160110,2.8,-1.9,7.8,31.0,1020.1,78,0.025
10,강원,20160111,0.1,-2.9,3.5,25.8,1021.5,1527,0.029
11,강원,20160112,-0.2,-4.0,4.9,25.9,1017.3,1049,0.023
12,강원,20160113,-1.0,-4.1,2.3,38.0,1013.4,993,0.023
13,강원,20160114,-0.8,-4.1,3.4,32.9,1016.4,986,0.029
14,강원,20160115,0.0,-3.9,4.8,44.5,1018.1,1084,0.018
15,강원,20160116,1.4,-2.5,6.3,46.9,1020.1,781,0.027
16,강원,20160117,3.6,-0.5,7.2,60.4,1014.4,69,0.018
17,강원,20160118,-1.1,-9.7,4.5,46.0,1003.7,1456,0.025
18,강원,20160119,-8.4,-11.9,-4.3,24.9,1010.3,945,0.030
19,강원,20160120,-4.5,-9.8,2.3,34.6,1023.0,976,0.024
20,강원,20160121,-2.5,-5.7,2.7,29.5,1022.5,1037,0.021
21,강원,20160122,-1.6,-5.0,2.5,22.1,1025.0,1106,0.023
22,강원,20160123,-6.2,-10.7,-2.4,19.6,1021.9,711,0.029
23,강원,20160124,-9.8,-14.7,-4.3,24.0,1016.2,76,0.031
24,강원,20160125,-5.0,-10.6,1.0,26.4,1020.7,1337,0.025
25,강원,20160126,0.4,-3.8,4.1,34.0,1019.0,1046,0.033
26,강원,20160127,2.7,0.0,6.5,32.1,1023.5,988,0.029
27,강원,20160128,2.1,-0.1,5.9,37.1,1025.7,1003,0.023
28,강원,20160129,0.8,0.2,2.7,76.6,1024.7,1139,0.019
29,강원,20160130,1.3,-0.1,4.2,87.9,1023.0,686,0.018
...,...,...,...,...,...,...,...,...,...
14562,충북,20180601,24.2,17.4,30.5,47.1,1008.0,1100,0.037
14563,충북,20180602,24.2,17.6,31.1,38.8,1008.4,797,0.040
14564,충북,20180603,24.1,16.5,31.1,41.9,1006.4,110,0.043
14565,충북,20180604,23.5,19.1,29.3,50.4,1006.0,1315,0.039
14566,충북,20180605,23.9,19.6,28.7,56.5,1004.9,1043,0.031
14567,충북,20180606,24.2,19.5,30.5,59.3,1005.0,297,0.040
14568,충북,20180607,23.9,19.1,30.0,63.0,1004.6,1117,0.034
14569,충북,20180608,21.9,18.5,26.4,66.9,1002.1,1023,0.039
14570,충북,20180609,23.0,18.1,28.2,58.6,1000.2,758,0.040
14571,충북,20180610,21.5,19.2,25.2,56.1,997.9,88,0.035
14572,충북,20180611,20.6,18.7,23.2,60.3,993.9,1227,0.029
14573,충북,20180612,22.0,18.5,27.4,60.6,996.1,931,0.028
14574,충북,20180613,23.1,17.5,28.1,59.8,999.6,402,0.036
14575,충북,20180614,22.5,19.4,26.9,57.3,1001.0,999,0.037
14576,충북,20180615,21.8,18.4,26.3,49.4,1004.1,870,0.033
14577,충북,20180616,22.3,16.6,28.6,48.4,1005.5,708,0.033
14578,충북,20180617,23.3,18.2,29.3,61.9,1003.4,88,0.039
14579,충북,20180618,25.7,20.7,31.6,53.4,999.8,1100,0.047
14580,충북,20180619,21.5,19.7,24.9,73.3,998.5,775,0.026
14581,충북,20180620,23.4,19.5,28.9,62.9,997.2,791,0.031
14582,충북,20180621,24.1,19.3,29.9,50.3,1000.3,798,0.032
14583,충북,20180622,25.7,18.6,32.0,44.0,1001.7,863,0.039
14584,충북,20180623,25.1,20.6,31.3,49.6,998.1,664,0.044
14585,충북,20180624,26.3,20.2,33.4,54.5,1001.6,83,0.075
14586,충북,20180625,27.3,20.7,33.4,48.9,1003.6,1149,0.046
14587,충북,20180626,23.6,20.9,26.0,80.0,998.0,711,0.031
14588,충북,20180627,25.5,22.5,30.5,73.6,995.5,761,0.041
14589,충북,20180628,24.7,23.2,26.8,77.5,993.1,806,0.030
14590,충북,20180629,26.3,21.9,31.5,66.8,996.3,862,0.042
14591,충북,20180630,25.7,23.6,29.4,73.5,1002.9,657,0.025

In [10]:
df['최고기온(°C)'] = df['최고기온(°C)'] - df['최저기온(°C)']  
df.rename(columns={ df.columns[0] : '지점',
                    df.columns[1] : '일시',
                    df.columns[2] : '평균기온',
                    df.columns[3] : '최저기온',
                    df.columns[4] : '일교차',
                    df.columns[5] : '최소상대습도',
                    df.columns[6] : '기압',
                    df.columns[7] : '환자수',
                    df.columns[8] : '오존량'},inplace=True)
df.head()

   지점        일시  평균기온  최저기온  일교차  최소상대습도      기압   환자수    오존량
0  강원  20160101   5.1   2.1  6.8    33.0  1024.0   253  0.029
1  강원  20160102   9.1   5.5  5.7    43.8  1017.0   797  0.037
2  강원  20160103   9.0   5.3  8.5    55.8  1014.8    94  0.039
3  강원  20160104   7.4   3.3  8.7    33.8  1016.2  1638  0.036
4  강원  20160105   3.0   0.4  7.3    16.3  1020.3  1096  0.028

In [11]:
df['최소상대습도'] = 100 - df['최소상대습도']
df['최저기온위험지수'] = 'NaN'
df['일교차위험지수'] = 'NaN'
df['습도위험지수'] = 'NaN'
df['오존위험지수'] = 'NaN'
df['기압위험지수'] = 'NaN'
df.head()

,지점,일시,평균기온,최저기온,일교차,최소상대습도,기압,환자수,오존량,최저기온위험지수,일교차위험지수,습도위험지수,오존위험지수,기압위험지수
0,강원,20160101,5.1,2.1,6.8,67.0,1024.0,253,0.029,NaN,NaN,NaN,NaN,NaN
1,강원,20160102,9.1,5.5,5.7,56.2,1017.0,797,0.037,NaN,NaN,NaN,NaN,NaN
2,강원,20160103,9.0,5.3,8.5,44.2,1014.8,94,0.039,NaN,NaN,NaN,NaN,NaN
3,강원,20160104,7.4,3.3,8.7,66.2,1016.2,1638,0.036,NaN,NaN,NaN,NaN,NaN
4,강원,20160105,3.0,0.4,7.3,83.7,1020.3,1096,0.028,NaN,NaN,NaN,NaN,NaN

In [12]:
df['일교차'] = df['일교차'].astype(float) 
df['최소상대습도'] = df['최소상대습도'].astype(float) 
df['오존량'] = df['오존량'].astype(float) 
df['기압'] =df['기압'].astype(float) 
df['환자수'] =df['환자수'].astype(int) 
df.head()

,지점,일시,평균기온,최저기온,일교차,최소상대습도,기압,환자수,오존량,최저기온위험지수,일교차위험지수,습도위험지수,오존위험지수,기압위험지수
0,강원,20160101,5.1,2.1,6.8,67.0,1024.0,253,0.029,NaN,NaN,NaN,NaN,NaN
1,강원,20160102,9.1,5.5,5.7,56.2,1017.0,797,0.037,NaN,NaN,NaN,NaN,NaN
2,강원,20160103,9.0,5.3,8.5,44.2,1014.8,94,0.039,NaN,NaN,NaN,NaN,NaN
3,강원,20160104,7.4,3.3,8.7,66.2,1016.2,1638,0.036,NaN,NaN,NaN,NaN,NaN
4,강원,20160105,3.0,0.4,7.3,83.7,1020.3,1096,0.028,NaN,NaN,NaN,NaN,NaN

In [13]:
def Frequency(i):
    mtem3 = np.nanpercentile(df['최저기온'][912*i:912*(i+1)], 5,axis=None)
    mtem2 = np.nanpercentile(df['최저기온'][912*i:912*(i+1)], 25,axis=None) 
    mtem1 = np.nanpercentile(df['최저기온'][912*i:912*(i+1)], 60,axis=None)  
    mtem1 = float(round(mtem1, 2))
    mtem2 = float(round(mtem2, 2))
    mtem3 = float(round(mtem3, 2))
    
    pha1 = np.nanpercentile(df['기압'][912*i:912*(i+1)], 95,axis=None) 
    pha2 = np.nanpercentile(df['기압'][912*i:912*(i+1)], 75,axis=None) 
    pha3 = np.nanpercentile(df['기압'][912*i:912*(i+1)], 40,axis=None)  
    pha1 = float(round(pha1, 2))
    pha2 = float(round(pha2, 2))
    pha3 = float(round(pha3, 2))
    
    Oz1 = np.nanpercentile(df['오존량'][912*i:912*(i+1)], 95,axis=None)
    Oz2 = np.nanpercentile(df['오존량'][912*i:912*(i+1)], 75,axis=None)
    Oz3 = np.nanpercentile(df['오존량'][912*i:912*(i+1)], 40,axis=None) 
    Oz1 = float(round(Oz1, 2))
    Oz2 = float(round(Oz2, 2))
    Oz3 = float(round(Oz3, 2)) 
    
    ra1 = np.nanpercentile(df['일교차'][912*i:912*(i+1)], 95,axis=None)
    ra2 = np.nanpercentile(df['일교차'][912*i:912*(i+1)], 75,axis=None)
    ra3 = np.nanpercentile(df['일교차'][912*i:912*(i+1)], 40,axis=None) 
    ra1 = float(round(ra1, 2))
    ra2 = float(round(ra2, 2))
    ra3 = float(round(ra3, 2))
    
    hum1 = np.nanpercentile(df['최소상대습도'][912*i:912*(i+1)], 5,axis=None)
    hum2 = np.nanpercentile(df['최소상대습도'][912*i:912*(i+1)], 25,axis=None)
    hum3 = np.nanpercentile(df['최소상대습도'][912*i:912*(i+1)], 60,axis=None) 
    hum1 = float(round(hum1, 2))
    hum2 = float(round(hum2, 2))
    hum3 = float(round(hum3, 2))
    ALL = mtem1, mtem2, mtem3, pha1, pha2, pha3, Oz1, Oz2, Oz3, ra1, ra2, ra3, hum1, hum2, hum3 
    return ALL

In [14]:

IFALL = [[0 for ro in range(16)] for cols in range(16)]
for i in range(0, 16):
    IFALL[i] =  Frequency(i)
    
IFALL = pd.DataFrame(IFALL)
IFALL

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,13.30,0.80,-5.44,1024.00,1018.20,1009.90,0.06,0.04,0.03,13.34,10.30,7.60,15.05,29.00,53.50
1,11.46,-2.10,-9.50,1025.44,1019.20,1010.24,0.05,0.03,0.02,16.50,12.80,9.60,7.55,21.98,37.20
2,10.90,-1.83,-8.10,1024.30,1018.90,1010.70,0.06,0.04,0.03,19.10,15.50,11.20,13.00,25.10,40.00
3,11.90,-0.80,-6.70,1022.65,1016.80,1008.20,0.06,0.04,0.02,17.60,13.40,9.80,3.14,16.02,38.50
4,13.60,1.10,-4.74,1020.40,1014.50,1005.90,0.05,0.04,0.03,15.70,12.10,8.60,3.96,18.18,34.32
5,12.56,0.00,-6.14,1021.60,1015.90,1007.50,0.05,0.04,0.02,17.04,13.20,9.20,12.00,27.50,45.50
6,12.10,-1.10,-8.24,1021.00,1015.00,1006.20,0.06,0.04,0.02,16.64,12.70,9.40,8.51,21.98,35.10
7,15.00,3.70,-3.29,1018.40,1013.30,1005.60,0.06,0.04,0.03,11.74,9.30,7.20,8.73,22.50,42.06
8,12.40,-1.40,-9.24,1018.69,1012.60,1003.80,0.05,0.03,0.02,14.05,11.30,8.50,16.81,32.48,46.60
9,13.46,1.60,-4.70,1019.20,1012.82,1003.90,0.05,0.03,0.02,14.50,11.10,8.10,4.46,16.90,38.50
10,12.70,-0.40,-7.54,1020.80,1014.60,1005.84,0.05,0.03,0.02,10.80,8.40,6.50,4.05,17.50,35.32
11,10.56,-1.70,-7.00,1007.68,1002.20,994.60,0.05,0.04,0.03,19.70,14.80,10.10,7.60,19.48,33.50
12,12.70,0.10,-6.24,1021.70,1015.70,1006.90,0.06,0.04,0.03,15.30,11.92,8.64,7.40,19.00,32.50
13,16.06,6.50,1.60,1026.40,1020.80,1011.80,0.06,0.04,0.03,10.20,7.43,5.10,9.31,20.68,33.66
14,9.96,-2.80,-11.04,1021.50,1014.12,1004.60,0.05,0.04,0.02,19.10,14.60,10.30,13.45,24.00,36.60
15,12.60,-0.90,-7.90,1022.10,1016.00,1007.14,0.05,0.04,0.02,15.30,11.90,8.60,16.66,31.57,46.00

In [15]:
IFALL.rename(columns={ IFALL.columns[0] : '최저1',
                    IFALL.columns[1] : '최저2',
                    IFALL.columns[2] : '최저3',
                    IFALL.columns[3] : '기압1',
                    IFALL.columns[4] : '기압2',
                    IFALL.columns[5] : '기압3',
                    IFALL.columns[6] : '오존1',
                    IFALL.columns[7] : '오존2',
                    IFALL.columns[8] : '오존3',
                    IFALL.columns[9] : '일교차1',
                    IFALL.columns[10] : '일교차2',
                    IFALL.columns[11] : '일교차3',
                    IFALL.columns[12] : '습도1',
                    IFALL.columns[13] : '습도2',
                    IFALL.columns[14] : '습도3' 
                  },inplace=True)
IFALL.head()

,최저1,최저2,최저3,기압1,기압2,기압3,오존1,오존2,오존3,일교차1,일교차2,일교차3,습도1,습도2,습도3
0,13.30,0.80,-5.44,1024.00,1018.2,1009.90,0.06,0.04,0.03,13.34,10.3,7.6,15.05,29.00,53.50
1,11.46,-2.10,-9.50,1025.44,1019.2,1010.24,0.05,0.03,0.02,16.50,12.8,9.6,7.55,21.98,37.20
2,10.90,-1.83,-8.10,1024.30,1018.9,1010.70,0.06,0.04,0.03,19.10,15.5,11.2,13.00,25.10,40.00
3,11.90,-0.80,-6.70,1022.65,1016.8,1008.20,0.06,0.04,0.02,17.60,13.4,9.8,3.14,16.02,38.50
4,13.60,1.10,-4.74,1020.40,1014.5,1005.90,0.05,0.04,0.03,15.70,12.1,8.6,3.96,18.18,34.32

In [49]:
t=0
j=0
for i in df.index: 
    if df.values[i,3] < IFALL['최저3'][t] :
        df['최저기온위험지수'].values[i] = '4'
    elif IFALL['최저3'][t]<= df.values[i,3] < IFALL['최저2'][t]: 
        df['최저기온위험지수'].values[i] = '3'
    elif IFALL['최저2'][t]<=df.values[i,3] < IFALL['최저1'][t]:  
        df['최저기온위험지수'].values[i] = '2'
    else: 
        df['최저기온위험지수'].values[i] = '1'
        
    if df.values[i,4] < IFALL['일교차3'][t] : 
        df['일교차위험지수'].values[i] = '1' 
    elif  IFALL['일교차3'][t]<= df.values[i,4] <  IFALL['일교차2'][t]: 
        df['일교차위험지수'].values[i] = '2'  
    elif IFALL['일교차2'][t]<=df.values[i,4] < IFALL['일교차1'][t]:  
        df['일교차위험지수'].values[i] = '3'  
    else : 
        df['일교차위험지수'].values[i] = '4'   

    if df.values[i,5] > IFALL['습도3'][t]:
        df['습도위험지수'].values[i] = '1'
    elif IFALL['습도2'][t]<= df.values[i,5] < IFALL['습도3'][t]:
        df['습도위험지수'].values[i] = '2'
    elif IFALL['습도1'][t]<= df.values[i,5] < IFALL['습도2'][t]:
        df['습도위험지수'].values[i] = '3'
    else:
        df['습도위험지수'].values[i] = '4'
        
    if df.values[i,6] < IFALL['기압3'][t] : 
        df['기압위험지수'].values[i] = '1' 
    elif IFALL['기압3'][t]<= df.values[i,6] < IFALL['기압2'][t]: 
        df['기압위험지수'].values[i] = '2'  
    elif IFALL['기압2'][t]<=df.values[i,6] < IFALL['기압1'][t]:  
        df['기압위험지수'].values[i] = '3'  
    else : 
        df['기압위험지수'].values[i] = '4' 
        
    if df.values[i,8] <  IFALL['오존3'][t]:
        df['오존위험지수'].values[i] = '1'
    elif IFALL['오존3'][t]<=df.values[i,8] < IFALL['오존2'][t]:
        df['오존위험지수'].values[i] = '2'
    elif IFALL['오존2'][t]<=df.values[i,8] < IFALL['오존1'][t]:
        df['오존위험지수'].values[i] = '3'
    else:
        df['오존위험지수'].values[i] = '4'  
        
    if i>i:
        if i/912 == 0:
            if df.values[912*t,0] != df.values[(912-1)*t,0]:
                t= t+1
    
df

,지점,일시,평균기온,최저기온,일교차,최소상대습도,기압,환자수,오존량,최저기온위험지수,일교차위험지수,습도위험지수,오존위험지수,기압위험지수
0,강원,20160101,5.1,2.1,6.8,67.0,1024.0,253,0.029,2,1,1,1,4
1,강원,20160102,9.1,5.5,5.7,56.2,1017.0,797,0.037,2,1,1,2,2
2,강원,20160103,9.0,5.3,8.5,44.2,1014.8,94,0.039,2,2,2,2,2
3,강원,20160104,7.4,3.3,8.7,66.2,1016.2,1638,0.036,2,2,1,2,2
4,강원,20160105,3.0,0.4,7.3,83.7,1020.3,1096,0.028,3,1,1,1,3
5,강원,20160106,1.9,-0.6,6.4,69.7,1018.2,1027,0.028,3,1,1,1,3
6,강원,20160107,1.3,-1.6,7.7,70.7,1017.7,974,0.024,3,2,1,1,2
7,강원,20160108,0.5,-2.2,6.6,76.0,1016.4,1100,0.026,3,1,1,1,2
8,강원,20160109,1.7,-1.1,6.7,67.2,1018.7,757,0.028,3,1,1,1,3
9,강원,20160110,2.8,-1.9,9.7,69.0,1020.1,78,0.025,3,2,1,1,3
10,강원,20160111,0.1,-2.9,6.4,74.2,1021.5,1527,0.029,3,1,1,1,3
11,강원,20160112,-0.2,-4.0,8.9,74.1,1017.3,1049,0.023,3,2,1,1,2
12,강원,20160113,-1.0,-4.1,6.4,62.0,1013.4,993,0.023,3,1,1,1,2
13,강원,20160114,-0.8,-4.1,7.5,67.1,1016.4,986,0.029,3,1,1,1,2
14,강원,20160115,0.0,-3.9,8.7,55.5,1018.1,1084,0.018,3,2,1,1,2
15,강원,20160116,1.4,-2.5,8.8,53.1,1020.1,781,0.027,3,2,2,1,3
16,강원,20160117,3.6,-0.5,7.7,39.6,1014.4,69,0.018,3,2,2,1,2
17,강원,20160118,-1.1,-9.7,14.2,54.0,1003.7,1456,0.025,4,4,1,1,1
18,강원,20160119,-8.4,-11.9,7.6,75.1,1010.3,945,0.030,4,2,1,2,2
19,강원,20160120,-4.5,-9.8,12.1,65.4,1023.0,976,0.024,4,3,1,1,3
20,강원,20160121,-2.5,-5.7,8.4,70.5,1022.5,1037,0.021,4,2,1,1,3
21,강원,20160122,-1.6,-5.0,7.5,77.9,1025.0,1106,0.023,3,1,1,1,4
22,강원,20160123,-6.2,-10.7,8.3,80.4,1021.9,711,0.029,4,2,1,1,3
23,강원,20160124,-9.8,-14.7,10.4,76.0,1016.2,76,0.031,4,3,1,2,2
24,강원,20160125,-5.0,-10.6,11.6,73.6,1020.7,1337,0.025,4,3,1,1,3
25,강원,20160126,0.4,-3.8,7.9,66.0,1019.0,1046,0.033,3,2,1,2,3
26,강원,20160127,2.7,0.0,6.5,67.9,1023.5,988,0.029,3,1,1,1,3
27,강원,20160128,2.1,-0.1,6.0,62.9,1025.7,1003,0.023,3,1,1,1,4
28,강원,20160129,0.8,0.2,2.5,23.4,1024.7,1139,0.019,3,1,3,1,4
29,강원,20160130,1.3,-0.1,4.3,12.1,1023.0,686,0.018,3,1,4,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14562,충북,20180601,24.2,17.4,13.1,52.9,1008.0,1100,0.037,1,3,2,2,1
14563,충북,20180602,24.2,17.6,13.5,61.2,1008.4,797,0.040,1,4,1,3,1
14564,충북,20180603,24.1,16.5,14.6,58.1,1006.4,110,0.043,1,4,1,3,1
14565,충북,20180604,23.5,19.1,10.2,49.6,1006.0,1315,0.039,1,2,2,2,1
14566,충북,20180605,23.9,19.6,9.1,43.5,1004.9,1043,0.031,1,2,2,2,1
14567,충북,20180606,24.2,19.5,11.0,40.7,1005.0,297,0.040,1,3,2,3,1
14568,충북,20180607,23.9,19.1,10.9,37.0,1004.6,1117,0.034,1,3,2,2,1
14569,충북,20180608,21.9,18.5,7.9,33.1,1002.1,1023,0.039,1,2,2,2,1
14570,충북,20180609,23.0,18.1,10.1,41.4,1000.2,758,0.040,1,2,2,3,1
14571,충북,20180610,21.5,19.2,6.0,43.9,997.9,88,0.035,1,1,2,2,1
14572,충북,20180611,20.6,18.7,4.5,39.7,993.9,1227,0.029,1,1,2,1,1
14573,충북,20180612,22.0,18.5,8.9,39.4,996.1,931,0.028,1,2,2,1,1
14574,충북,20180613,23.1,17.5,10.6,40.2,999.6,402,0.036,1,3,2,2,1
14575,충북,20180614,22.5,19.4,7.5,42.7,1001.0,999,0.037,1,1,2,2,1
14576,충북,20180615,21.8,18.4,7.9,50.6,1004.1,870,0.033,1,2,2,2,1
14577,충북,20180616,22.3,16.6,12.0,51.6,1005.5,708,0.033,1,3,2,2,1
14578,충북,20180617,23.3,18.2,11.1,38.1,1003.4,88,0.039,1,3,2,2,1
14579,충북,20180618,25.7,20.7,10.9,46.6,999.8,1100,0.047,1,3,2,3,1
14580,충북,20180619,21.5,19.7,5.2,26.7,998.5,775,0.026,1,1,3,1,1
14581,충북,20180620,23.4,19.5,9.4,37.1,997.2,791,0.031,1,2,2,2,1
14582,충북,20180621,24.1,19.3,10.6,49.7,1000.3,798,0.032,1,3,2,2,1
14583,충북,20180622,25.7,18.6,13.4,56.0,1001.7,863,0.039,1,4,1,2,1
14584,충북,20180623,25.1,20.6,10.7,50.4,998.1,664,0.044,1,3,2,3,1
14585,충북,20180624,26.3,20.2,13.2,45.5,1001.6,83,0.075,1,3,2,4,1
14586,충북,20180625,27.3,20.7,12.7,51.1,1003.6,1149,0.046,1,3,2,3,1
14587,충북,20180626,23.6,20.9,5.1,20.0,998.0,711,0.031,1,1,3,2,1
14588,충북,20180627,25.5,22.5,8.0,26.4,995.5,761,0.041,1,2,3,3,1
14589,충북,20180628,24.7,23.2,3.6,22.5,993.1,806,0.030,1,1,3,2,1
14590,충북,20180629,26.3,21.9,9.6,33.2,996.3,862,0.042,1,2,2,3,1
14591,충북,20180630,25.7,23.6,5.8,26.5,1002.9,657,0.025,1,1,3,1,1

In [16]:
def weight(i):
    temr = df['일교차'][912*i:912*(i+1)].corr(df['환자수'][912*i:912*(i+1)])
    hum = df['최소상대습도'][912*i:912*(i+1)].corr(df['환자수'][912*i:912*(i+1)])
    oj = df['오존량'][912*i:912*(i+1)].corr(df['환자수'][912*i:912*(i+1)])
    atm = df['기압'][912*i:912*(i+1)].corr(df['환자수'][912*i:912*(i+1)])
    mtem = -df['최저기온'][912*i:912*(i+1)].corr(df['환자수'][912*i:912*(i+1)])

    al = temr+hum+oj+mtem+atm 

    temr,hum,oj,mtem,atm
    temr = temr/al
    hum = hum/al
    oj = oj/al
    atm = atm/al
    mtem = mtem/al
    return temr, mtem, hum, atm, oj

In [17]:
Weight = [[0 for ro in range(5)] for cols in range(16)]
for i in range(0,16):
    Weight[i] = weight(i) 
Weight = pd.DataFrame(Weight)
Weight

           0         1         2         3         4
0   0.143865  0.383831  0.263673  0.266390 -0.057759
1   0.204620  0.446406  0.304478  0.374829 -0.330333
2   0.165933  0.438995  0.236996  0.370473 -0.212397
3   0.038047  0.482632  0.268590  0.418485 -0.207754
4   0.078345  0.488305  0.273929  0.446262 -0.286840
5  -0.027644  0.616234  0.285031  0.569016 -0.442638
6   0.149859  0.480713  0.192880  0.437079 -0.260532
7   0.145875  0.420123  0.294435  0.346113 -0.206546
8   0.183601  0.465157  0.289857  0.375961 -0.314577
9   0.094693  0.481728  0.310848  0.450338 -0.337608
10  0.190850  0.420383  0.281125  0.347008 -0.239367
11  0.060706  0.391927  0.240635  0.317641 -0.010908
12  0.044484  0.571737  0.254083  0.496332 -0.366635
13 -0.043242  0.477375  0.189697  0.400794 -0.024623
14  0.176121  0.516969  0.209830  0.479034 -0.381955
15  0.138614  0.597635  0.268206  0.547030 -0.551484

In [18]:
Weight.rename(columns={ Weight.columns[0] : '일교차중가치',
                    Weight.columns[1] : '최저기온중가치',
                    Weight.columns[2] : '습도중가치',
                    Weight.columns[3] : '기압중가치',
                    Weight.columns[4] : '오존중가치' },inplace=True)
Weight.head()

     일교차중가치   최저기온중가치     습도중가치     기압중가치     오존중가치
0  0.143865  0.383831  0.263673  0.266390 -0.057759
1  0.204620  0.446406  0.304478  0.374829 -0.330333
2  0.165933  0.438995  0.236996  0.370473 -0.212397
3  0.038047  0.482632  0.268590  0.418485 -0.207754
4  0.078345  0.488305  0.273929  0.446262 -0.286840

In [50]:
df['ALI'] = float('NaN')
df.head()

,지점,일시,평균기온,최저기온,일교차,최소상대습도,기압,환자수,오존량,최저기온위험지수,일교차위험지수,습도위험지수,오존위험지수,기압위험지수,ALI
0,강원,20160101,5.1,2.1,6.8,67.0,1024.0,253,0.029,2,1,1,1,4,NaN
1,강원,20160102,9.1,5.5,5.7,56.2,1017.0,797,0.037,2,1,1,2,2,NaN
2,강원,20160103,9.0,5.3,8.5,44.2,1014.8,94,0.039,2,2,2,2,2,NaN
3,강원,20160104,7.4,3.3,8.7,66.2,1016.2,1638,0.036,2,2,1,2,2,NaN
4,강원,20160105,3.0,0.4,7.3,83.7,1020.3,1096,0.028,3,1,1,1,3,NaN

In [52]:

for i in df.index:
    df['ALI'].values[i] = Weight['최저기온중가치'][t]*float(df.values[i,9])+Weight['일교차중가치'][t]*float(df.values[i,10])+Weight['습도중가치'][t]*float(df.values[i,11])+Weight['오존중가치'][t]*float(df.values[i,12])+ Weight['기압중가치'][t]*float(df.values[i,13])

    if i>i:
        if i%912 == 0:
            if df.values[912*t,0] != df.values[(912-1)*t,0]:
                t= t+1
    
df.head()

,지점,일시,평균기온,최저기온,일교차,최소상대습도,기압,환자수,오존량,최저기온위험지수,일교차위험지수,습도위험지수,오존위험지수,기압위험지수,ALI
0,강원,20160101,5.1,2.1,6.8,67.0,1024.0,253,0.029,2,1,1,1,4,2.183003
1,강원,20160102,9.1,5.5,5.7,56.2,1017.0,797,0.037,2,1,1,2,2,1.592463
2,강원,20160103,9.0,5.3,8.5,44.2,1014.8,94,0.039,2,2,2,2,2,2.000000
3,강원,20160104,7.4,3.3,8.7,66.2,1016.2,1638,0.036,2,2,1,2,2,1.736327
4,강원,20160105,3.0,0.4,7.3,83.7,1020.3,1096,0.028,3,1,1,1,3,2.300444

In [53]:
def Ali(i):
    ali1 = np.nanpercentile(df['ALI'][912*i:912*(i+1)], 5,axis=None)
    ali2 = np.nanpercentile(df['ALI'][912*i:912*(i+1)], 25,axis=None)
    ali3 = np.nanpercentile(df['ALI'][912*i:912*(i+1)], 60,axis=None) 
    ali1 = float(round(ali1, 2))
    ali2 = float(round(ali2, 2))
    ali3 = float(round(ali3, 2))
    
    ALI = ali1,ali2,ali3
    return ALI

In [68]:

ALi = [[0 for ro in range(3)] for cols in range(16)]
for i in range(0, 16):
    ALi[i] =  Ali(i)

ALi = list(ALi)
ALi = float(ALi)
ALi = pd.DataFrame(ALi)
ALi

TypeError: float() argument must be a string or a number, not 'list'

In [56]:
ALi.rename(columns={ALi.columns[0] : 'ALi1',
                    ALi.columns[1] : 'ALi2',
                    ALi.columns[2] : 'ALi3' },inplace=True)
ALi.head()

   ALi1  ALi2  ALi3
0  1.11  1.53  2.06
1  1.44  1.79  2.43
2  1.44  1.70  2.32
3  1.44  1.76  2.29
4  1.44  1.70  2.12

In [57]:
IFandWeight = pd.concat([IFALL, ALi], axis=1) 
IFandWeight

,최저1,최저2,최저3,기압1,기압2,기압3,오존1,오존2,오존3,일교차1,일교차2,일교차3,습도1,습도2,습도3,ALi1,ALi2,ALi3
0,13.30,0.80,-5.44,1024.00,1018.20,1009.90,0.06,0.04,0.03,13.34,10.30,7.60,15.05,29.00,53.50,1.11,1.53,2.06
1,11.46,-2.10,-9.50,1025.44,1019.20,1010.24,0.05,0.03,0.02,16.50,12.80,9.60,7.55,21.98,37.20,1.44,1.79,2.43
2,10.90,-1.83,-8.10,1024.30,1018.90,1010.70,0.06,0.04,0.03,19.10,15.50,11.20,13.00,25.10,40.00,1.44,1.70,2.32
3,11.90,-0.80,-6.70,1022.65,1016.80,1008.20,0.06,0.04,0.02,17.60,13.40,9.80,3.14,16.02,38.50,1.44,1.76,2.29
4,13.60,1.10,-4.74,1020.40,1014.50,1005.90,0.05,0.04,0.03,15.70,12.10,8.60,3.96,18.18,34.32,1.44,1.70,2.12
5,12.56,0.00,-6.14,1021.60,1015.90,1007.50,0.05,0.04,0.02,17.04,13.20,9.20,12.00,27.50,45.50,1.29,1.58,2.08
6,12.10,-1.10,-8.24,1021.00,1015.00,1006.20,0.06,0.04,0.02,16.64,12.70,9.40,8.51,21.98,35.10,1.38,1.67,2.23
7,15.00,3.70,-3.29,1018.40,1013.30,1005.60,0.06,0.04,0.03,11.74,9.30,7.20,8.73,22.50,42.06,1.21,1.47,1.80
8,12.40,-1.40,-9.24,1018.69,1012.60,1003.80,0.05,0.03,0.02,14.05,11.30,8.50,16.81,32.48,46.60,1.26,1.49,2.02
9,13.46,1.60,-4.70,1019.20,1012.82,1003.90,0.05,0.03,0.02,14.50,11.10,8.10,4.46,16.90,38.50,1.41,1.67,2.03
10,12.70,-0.40,-7.54,1020.80,1014.60,1005.84,0.05,0.03,0.02,10.80,8.40,6.50,4.05,17.50,35.32,1.31,1.68,2.06
11,10.56,-1.70,-7.00,1007.68,1002.20,994.60,0.05,0.04,0.03,19.70,14.80,10.10,7.60,19.48,33.50,1.53,1.79,2.12
12,12.70,0.10,-6.24,1021.70,1015.70,1006.90,0.06,0.04,0.03,15.30,11.92,8.64,7.40,19.00,32.50,1.44,1.70,2.20
13,16.06,6.50,1.60,1026.40,1020.80,1011.80,0.06,0.04,0.03,10.20,7.43,5.10,9.31,20.68,33.66,1.29,1.53,2.05
14,9.96,-2.80,-11.04,1021.50,1014.12,1004.60,0.05,0.04,0.02,19.10,14.60,10.30,13.45,24.00,36.60,1.44,1.70,2.31
15,12.60,-0.90,-7.90,1022.10,1016.00,1007.14,0.05,0.04,0.02,15.30,11.90,8.60,16.66,31.57,46.00,1.29,1.49,2.08

In [58]:
IFandWeight = pd.concat([IFandWeight, Weight], axis=1) 
IFandWeight

,최저1,최저2,최저3,기압1,기압2,기압3,오존1,오존2,오존3,일교차1,...,습도2,습도3,ALi1,ALi2,ALi3,일교차중가치,최저기온중가치,습도중가치,기압중가치,오존중가치
0,13.30,0.80,-5.44,1024.00,1018.20,1009.90,0.06,0.04,0.03,13.34,...,29.00,53.50,1.11,1.53,2.06,0.143865,0.383831,0.263673,0.266390,-0.057759
1,11.46,-2.10,-9.50,1025.44,1019.20,1010.24,0.05,0.03,0.02,16.50,...,21.98,37.20,1.44,1.79,2.43,0.204620,0.446406,0.304478,0.374829,-0.330333
2,10.90,-1.83,-8.10,1024.30,1018.90,1010.70,0.06,0.04,0.03,19.10,...,25.10,40.00,1.44,1.70,2.32,0.165933,0.438995,0.236996,0.370473,-0.212397
3,11.90,-0.80,-6.70,1022.65,1016.80,1008.20,0.06,0.04,0.02,17.60,...,16.02,38.50,1.44,1.76,2.29,0.038047,0.482632,0.268590,0.418485,-0.207754
4,13.60,1.10,-4.74,1020.40,1014.50,1005.90,0.05,0.04,0.03,15.70,...,18.18,34.32,1.44,1.70,2.12,0.078345,0.488305,0.273929,0.446262,-0.286840
5,12.56,0.00,-6.14,1021.60,1015.90,1007.50,0.05,0.04,0.02,17.04,...,27.50,45.50,1.29,1.58,2.08,-0.027644,0.616234,0.285031,0.569016,-0.442638
6,12.10,-1.10,-8.24,1021.00,1015.00,1006.20,0.06,0.04,0.02,16.64,...,21.98,35.10,1.38,1.67,2.23,0.149859,0.480713,0.192880,0.437079,-0.260532
7,15.00,3.70,-3.29,1018.40,1013.30,1005.60,0.06,0.04,0.03,11.74,...,22.50,42.06,1.21,1.47,1.80,0.145875,0.420123,0.294435,0.346113,-0.206546
8,12.40,-1.40,-9.24,1018.69,1012.60,1003.80,0.05,0.03,0.02,14.05,...,32.48,46.60,1.26,1.49,2.02,0.183601,0.465157,0.289857,0.375961,-0.314577
9,13.46,1.60,-4.70,1019.20,1012.82,1003.90,0.05,0.03,0.02,14.50,...,16.90,38.50,1.41,1.67,2.03,0.094693,0.481728,0.310848,0.450338,-0.337608
10,12.70,-0.40,-7.54,1020.80,1014.60,1005.84,0.05,0.03,0.02,10.80,...,17.50,35.32,1.31,1.68,2.06,0.190850,0.420383,0.281125,0.347008,-0.239367
11,10.56,-1.70,-7.00,1007.68,1002.20,994.60,0.05,0.04,0.03,19.70,...,19.48,33.50,1.53,1.79,2.12,0.060706,0.391927,0.240635,0.317641,-0.010908
12,12.70,0.10,-6.24,1021.70,1015.70,1006.90,0.06,0.04,0.03,15.30,...,19.00,32.50,1.44,1.70,2.20,0.044484,0.571737,0.254083,0.496332,-0.366635
13,16.06,6.50,1.60,1026.40,1020.80,1011.80,0.06,0.04,0.03,10.20,...,20.68,33.66,1.29,1.53,2.05,-0.043242,0.477375,0.189697,0.400794,-0.024623
14,9.96,-2.80,-11.04,1021.50,1014.12,1004.60,0.05,0.04,0.02,19.10,...,24.00,36.60,1.44,1.70,2.31,0.176121,0.516969,0.209830,0.479034,-0.381955
15,12.60,-0.90,-7.90,1022.10,1016.00,1007.14,0.05,0.04,0.02,15.30,...,31.57,46.00,1.29,1.49,2.08,0.138614,0.597635,0.268206,0.547030,-0.551484

In [20]:

class IfData:
    def __init__(self, num, metry, Maxtem1, Maxtem2, Maxtem3,Mintem1, Mintem2,Mintem3,Humi1, Humi2,Humi3,Hpa1,Hpa2,Hpa3, Ozone1,Ozone2,Ozone3, ALI1,ALI2,ALI3,temr,mtem, hum, atm, oj):
        self.num = num
        self.metry=metry
        self.Maxtem1 = Maxtem1
        self.Maxtem2 = Maxtem2
        self.Maxtem3 = Maxtem3
        self.Mintem1 = Mintem1
        self.Mintem2 = Mintem2
        self.Mintem3 = Mintem3
        self.Humi1 = Humi1
        self.Humi2 = Humi2
        self.Humi3 = Humi3
        self.Hpa1 = Hpa1
        self.Hpa2 = Hpa2
        self.Hpa3 = Hpa3
        self.Ozone1 = Ozone1
        self.Ozone2 = Ozone2
        self.Ozone3 = Ozone3
        self.ALI1 = ALI1
        self.ALI2 = ALI2
        self.ALI3 = ALI3
        self.temr = temr
        self.mtem = mtem
        self.hum = hum
        self.atm = atm
        self.oj = oj

In [74]:
pas = 'Allday12345!'

def update_test(data, i):
    conn = pymysql.connect(host='localhost', port = 8808, user='root', password=pas, db='webdb', charset='utf8')
    try:
        with conn.cursor() as curs:
            sql = 'UPDATE ifgeometry_2016_2018 set Maxtem1= %s,Maxtem2= %s,Maxtem3= %s, Mintem1= %s, Mintem2= %s, Mintem3= %s, Humi1= %s,Humi2= %s,Humi3= %s, Hpa1= %s, Hpa2= %s,Hpa3= %s,Ozone1= %s,Ozone2= %s,Ozone3= %s, ALI1= %s, ALI2= %s, ALI3= %s, whightMaxt= %s, whightMint= %s, WhightHumi= %s, whightHpa= %s, whightOzone= %s'\
            'WHERE geonum = %s'
            curs.execute(sql, (data.Maxtem1,data.Maxtem2,data.Maxtem3, data.Mintem1,data.Mintem2,data.Mintem3, data.Humi1, data.Humi2,data.Humi3,data.Hpa1,data.Hpa2,data.Hpa3, data.Ozone1,data.Ozone2,data.Ozone3, data.ALI1, data.ALI2, data.ALI3, data.temr, data.mtem, data.hum, data.atm, data.oj, i))
        conn.commit()
    finally:
        conn.close()
        
def insert_test(data):
    conn = pymysql.connect(host='localhost', port = 8808, user='root', password=pas, db='webdb', charset='utf8')
    try:
        with conn.cursor() as curs:
            sql = 'insert into ifgeometry_2016_2018 (geonum, geometry, Maxtem1,Maxtem2,Maxtem3, Mintem1, Mintem2, Mintem3, Humi1,Humi2,Humi3, Hpa1, Hpa2,Hpa3,Ozone1,Ozone2,Ozone3, ALI1, ALI2, ALI3, whightMaxt, whightMint, WhightHumi, whightHpa, WhightOzone)' \
            ' values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
            curs.execute(sql, (data.num, data.metry, data.Maxtem1,data.Maxtem2,data.Maxtem3, data.Mintem1,data.Mintem2,data.Mintem3, data.Humi1, data.Humi2,data.Humi3,data.Hpa1,data.Hpa2,data.Hpa3, data.Ozone1,data.Ozone2,data.Ozone3, data.ALI1, data.ALI2, data.ALI3, data.temr, data.mtem, data.hum, data.atm, data.oj))
        conn.commit()

    finally:
        conn.close()

In [31]:

pas = 'Allday12345!' 
num=0 
numb =[]
geome = ('서울', '부산', '대구', '인천','광주', '대전','울산','수원','속초','청주','천안','전주','순천','구미','진주','제주')
def check_test(i, geo): 
    global num
    global numb
    i=0
    conn = pymysql.connect(host='localhost', port = 8808, user='root', password=pas, db='webdb', charset='utf8') 
    try: 
        with conn.cursor(pymysql.cursors.DictCursor) as curs: 
            sql = 'select geonum from ifgeometry_2016_2018' 
            curs.execute("set names utf8") 
            curs.execute(sql) 
            row = curs.fetchall()
            numb = row 
    finally: 
        conn.close()

    if numb[i]['geonum'] == geo:
        num = i

    return num

In [75]:
geome = ('서울', '부산', '대구', '인천','광주', '대전','울산','수원','속초','청주','천안','전주','순천','구미','진주','제주')
number=0
if __name__ == "__main__" : 
    for j in range(0, 16):
        for i in range(0, 16):
            if geome[j] == geome[i] :
                number = check_test(i, geome[i]) 
                data = IfData(i, geome[i] , float(IFandWeight['일교차1'][i]),float(IFandWeight['일교차2'][i]),float(IFandWeight['일교차3'][i]),
                              float(IFandWeight['최저1'][i]),float(IFandWeight['최저2'][i]),float(IFandWeight['최저3'][i]),
                              float(IFandWeight['습도1'][i]),float(IFandWeight['습도2'][i]),float(IFandWeight['습도3'][i]),
                              float(IFandWeight['기압1'][i]),float(IFandWeight['기압2'][i]),float(IFandWeight['기압3'][i]),
                              float(IFandWeight['오존1'][i]),float(IFandWeight['오존2'][i]),float(IFandWeight['오존3'][i]),
                              float(IFandWeight['ALi1'][i]),float(IFandWeight['ALi2'][i]),float(IFandWeight['ALi3'][i]),
                              float(IFandWeight['일교차중가치'][i]),float(IFandWeight['최저기온중가치'][i]),float(IFandWeight['습도중가치'][i]),
                              float(IFandWeight['기압중가치'][i]),float(IFandWeight['오존중가치'][i])) 
                if number == 0 : 
                    insert_test(data)

                else  :
                    update_test(data, i)