In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [25]:
poplu = pd.read_csv('../data/data1.csv', thousands=',', encoding='euc-kr')
poplu

        지점                일시  기온(°C)  습도(%)  현지기압(hPa)  습도의값  기압값
0       90   2019-04-09 1:00     5.0   44.0     1017.4   NaN  NaN
1       90   2019-04-09 2:00     4.5   45.0     1017.7   NaN  NaN
2       90   2019-04-09 3:00     4.3   47.0     1017.6   NaN  NaN
3       90   2019-04-09 4:00     4.1   46.0     1017.9   NaN  NaN
4       90   2019-04-09 5:00     4.3   47.0     1018.1   NaN  NaN
5       90   2019-04-09 6:00     5.3   39.0     1018.7   NaN  NaN
6       90   2019-04-09 7:00     7.0   35.0     1019.1   NaN  NaN
7       90   2019-04-09 8:00    10.2   44.0     1019.5   NaN  NaN
8       90   2019-04-09 9:00    11.4   55.0     1019.8   NaN  NaN
9       90  2019-04-09 10:00    11.1   57.0     1020.5   NaN  NaN
10      90  2019-04-09 11:00    12.8   49.0     1020.2   NaN  NaN
11      90  2019-04-09 12:00    14.1   42.0     1019.0   NaN  NaN
12      90  2019-04-09 13:00    12.8   47.0     1018.5   NaN  NaN
13      90  2019-04-09 14:00    12.0   51.0     1017.7   NaN  NaN
14      90  2019-04-09 15:00    12.2   49.0     1017.0   NaN  NaN
15      90  2019-04-09 16:00    11.7   44.0     1015.4   NaN  NaN
16      90  2019-04-09 17:00    11.3   47.0     1015.4   NaN  NaN
17      90  2019-04-09 18:00    11.0   50.0     1016.0   NaN  NaN
18      90  2019-04-09 19:00     8.1   63.0     1016.5   NaN  NaN
19      90  2019-04-09 20:00     6.0   83.0     1016.4   NaN  NaN
20      90  2019-04-09 21:00     5.1   91.0     1016.6   NaN  NaN
21      90  2019-04-09 22:00     4.7   92.0     1016.4   NaN  NaN
22      90  2019-04-09 23:00     4.1   92.0     1016.2   NaN  NaN
23      90   2019-04-10 0:00     3.7   93.0     1015.4   NaN  NaN
24      90   2019-04-10 1:00     3.1   94.0     1015.0   NaN  NaN
25      90   2019-04-10 2:00     2.6   95.0     1014.3   NaN  NaN
26      90   2019-04-10 3:00     2.7   95.0     1013.7   NaN  NaN
27      90   2019-04-10 4:00     3.0   95.0     1013.2   NaN  NaN
28      90   2019-04-10 5:00     3.3   96.0     1013.1   NaN  NaN
29      90   2019-04-10 6:00     3.5   96.0     1012.8   NaN  NaN
...    ...               ...     ...    ...        ...   ...  ...
13647  295  2019-04-13 19:00    14.4   35.0     1013.2   NaN  NaN
13648  295  2019-04-13 20:00    13.3   41.0     1013.8   NaN  NaN
13649  295  2019-04-13 21:00    13.2   50.0     1014.4   NaN  NaN
13650  295  2019-04-13 22:00    11.9   60.0     1014.4   NaN  NaN
13651  295  2019-04-13 23:00    11.9   60.0     1014.4   NaN  NaN
13652  295   2019-04-14 0:00    12.3   55.0     1013.7   NaN  NaN
13653  295   2019-04-14 1:00    11.9   59.0     1013.5   NaN  NaN
13654  295   2019-04-14 2:00    11.5   63.0     1013.0   NaN  NaN
13655  295   2019-04-14 3:00    12.0   61.0     1012.2   NaN  NaN
13656  295   2019-04-14 4:00    12.0   65.0     1011.4   NaN  NaN
13657  295   2019-04-14 5:00    11.3   73.0     1011.0   NaN  NaN
13658  295   2019-04-14 6:00    11.2   72.0     1011.1   NaN  NaN
13659  295   2019-04-14 7:00    11.6   78.0     1011.6   NaN  NaN
13660  295   2019-04-14 8:00    13.3   69.0     1011.3   NaN  NaN
13661  295   2019-04-14 9:00    14.5   62.0     1011.1   NaN  NaN
13662  295  2019-04-14 10:00    14.6   63.0     1011.0   NaN  NaN
13663  295  2019-04-14 11:00    15.7   60.0     1010.6   NaN  NaN
13664  295  2019-04-14 12:00    15.7   56.0     1010.3   NaN  NaN
13665  295  2019-04-14 13:00    14.0   67.0     1009.2   NaN  NaN
13666  295  2019-04-14 14:00    13.9   64.0     1008.6   NaN  NaN
13667  295  2019-04-14 15:00    14.0   67.0     1008.5   NaN  NaN
13668  295  2019-04-14 16:00    15.1   66.0     1007.9   NaN  NaN
13669  295  2019-04-14 17:00    15.8   61.0     1008.3   NaN  NaN
13670  295  2019-04-14 18:00    15.6   45.0     1008.1   NaN  NaN
13671  295  2019-04-14 19:00    14.7   34.0     1008.5   NaN  NaN
13672  295  2019-04-14 20:00    13.6   36.0     1009.3   NaN  NaN
13673  295  2019-04-14 21:00    12.8   33.0     1009.8   NaN  NaN
13674  295  2019-04-14 22:00    11.0   41.0     1010.0   NaN  NaN
13675  295  2019-04-14 23:00    10.8   32.0     1010.2   NaN  NaN
13676  295   2019-04-15 0:00     8.0   41.0     1011.1   NaN  NaN

[13677 rows x 7 columns]

In [49]:
poplu['습도의값'].values[0] = '1'
poplu.head()

   지점               일시  기온(°C)  습도(%)  현지기압(hPa)  습도의값  기압값
0  90  2019-04-09 1:00     5.0   44.0     1017.4   1.0  NaN
1  90  2019-04-09 2:00     4.5   45.0     1017.7   1.0  NaN
2  90  2019-04-09 3:00     4.3   47.0     1017.6   NaN  NaN
3  90  2019-04-09 4:00     4.1   46.0     1017.9   NaN  NaN
4  90  2019-04-09 5:00     4.3   47.0     1018.1   NaN  NaN

In [44]:
poplu.values[1,4]

1017.7

In [50]:

for i in range(13676):
    if poplu.values[i,2] < 17 :
        if poplu.values[i,3] >70:
            poplu['습도의값'].values[i] = '1'
        else:
            poplu['습도의값'].values[i] = '2'
    elif 17<poplu.values[i,2] < 21:
        if poplu.values[i,3] >60:
            poplu['습도의값'].values[i] = '1'
        else:
            poplu['습도의값'].values[i]= '2'
            
    elif 20<poplu.values[i,2] < 24:
        if poplu.values[i,3] >50:
            poplu['습도의값'].values[i] = '1'
        else:
            poplu['습도의값'].values[i] = '2'
    elif poplu.values[i,2] > 23:
        if poplu.values[i,3] >50:
            poplu['습도의값'].values[i] = '1'
        else:
            poplu['습도의값'].values[i] = '2'

In [51]:
poplu.head(100)

    지점                일시  기온(°C)  습도(%)  현지기압(hPa)  습도의값  기압값
0   90   2019-04-09 1:00     5.0   44.0     1017.4   2.0  NaN
1   90   2019-04-09 2:00     4.5   45.0     1017.7   2.0  NaN
2   90   2019-04-09 3:00     4.3   47.0     1017.6   2.0  NaN
3   90   2019-04-09 4:00     4.1   46.0     1017.9   2.0  NaN
4   90   2019-04-09 5:00     4.3   47.0     1018.1   2.0  NaN
5   90   2019-04-09 6:00     5.3   39.0     1018.7   2.0  NaN
6   90   2019-04-09 7:00     7.0   35.0     1019.1   2.0  NaN
7   90   2019-04-09 8:00    10.2   44.0     1019.5   2.0  NaN
8   90   2019-04-09 9:00    11.4   55.0     1019.8   2.0  NaN
9   90  2019-04-09 10:00    11.1   57.0     1020.5   2.0  NaN
10  90  2019-04-09 11:00    12.8   49.0     1020.2   2.0  NaN
11  90  2019-04-09 12:00    14.1   42.0     1019.0   2.0  NaN
12  90  2019-04-09 13:00    12.8   47.0     1018.5   2.0  NaN
13  90  2019-04-09 14:00    12.0   51.0     1017.7   2.0  NaN
14  90  2019-04-09 15:00    12.2   49.0     1017.0   2.0  NaN
15  90  2019-04-09 16:00    11.7   44.0     1015.4   2.0  NaN
16  90  2019-04-09 17:00    11.3   47.0     1015.4   2.0  NaN
17  90  2019-04-09 18:00    11.0   50.0     1016.0   2.0  NaN
18  90  2019-04-09 19:00     8.1   63.0     1016.5   2.0  NaN
19  90  2019-04-09 20:00     6.0   83.0     1016.4   1.0  NaN
20  90  2019-04-09 21:00     5.1   91.0     1016.6   1.0  NaN
21  90  2019-04-09 22:00     4.7   92.0     1016.4   1.0  NaN
22  90  2019-04-09 23:00     4.1   92.0     1016.2   1.0  NaN
23  90   2019-04-10 0:00     3.7   93.0     1015.4   1.0  NaN
24  90   2019-04-10 1:00     3.1   94.0     1015.0   1.0  NaN
25  90   2019-04-10 2:00     2.6   95.0     1014.3   1.0  NaN
26  90   2019-04-10 3:00     2.7   95.0     1013.7   1.0  NaN
27  90   2019-04-10 4:00     3.0   95.0     1013.2   1.0  NaN
28  90   2019-04-10 5:00     3.3   96.0     1013.1   1.0  NaN
29  90   2019-04-10 6:00     3.5   96.0     1012.8   1.0  NaN
..  ..               ...     ...    ...        ...   ...  ...
70  90  2019-04-11 23:00     5.8   83.0     1012.6   1.0  NaN
71  90   2019-04-12 0:00     5.7   80.0     1012.6   1.0  NaN
72  90   2019-04-12 1:00     5.8   77.0     1012.5   1.0  NaN
73  90   2019-04-12 2:00     6.4   75.0     1012.3   1.0  NaN
74  90   2019-04-12 3:00     7.0   70.0     1012.5   2.0  NaN
75  90   2019-04-12 4:00     6.8   75.0     1012.7   1.0  NaN
76  90   2019-04-12 5:00     7.6   73.0     1013.0   1.0  NaN
77  90   2019-04-12 6:00     6.4   78.0     1013.2   1.0  NaN
78  90   2019-04-12 7:00     7.7   70.0     1013.8   2.0  NaN
79  90   2019-04-12 8:00    10.5   59.0     1014.4   2.0  NaN
80  90   2019-04-12 9:00    12.2   61.0     1014.7   2.0  NaN
81  90  2019-04-12 10:00    13.4   59.0     1014.9   2.0  NaN
82  90  2019-04-12 11:00    12.9   63.0     1015.0   2.0  NaN
83  90  2019-04-12 12:00    14.0   61.0     1014.7   2.0  NaN
84  90  2019-04-12 13:00    14.7   63.0     1014.5   2.0  NaN
85  90  2019-04-12 14:00    13.7   65.0     1014.3   2.0  NaN
86  90  2019-04-12 15:00    15.1   61.0     1014.2   2.0  NaN
87  90  2019-04-12 16:00    14.8   59.0     1013.9   2.0  NaN
88  90  2019-04-12 17:00    14.2   59.0     1014.2   2.0  NaN
89  90  2019-04-12 18:00    13.2   59.0     1014.1   2.0  NaN
90  90  2019-04-12 19:00    12.2   64.0     1014.2   2.0  NaN
91  90  2019-04-12 20:00    10.6   72.0     1014.7   1.0  NaN
92  90  2019-04-12 21:00     8.5   77.0     1015.2   1.0  NaN
93  90  2019-04-12 22:00     8.7   73.0     1015.1   1.0  NaN
94  90  2019-04-12 23:00    12.6   36.0     1015.0   2.0  NaN
95  90   2019-04-13 0:00    11.9   38.0     1015.2   2.0  NaN
96  90   2019-04-13 1:00    13.0   34.0     1015.1   2.0  NaN
97  90   2019-04-13 2:00    11.6   38.0     1015.2   2.0  NaN
98  90   2019-04-13 3:00    10.8   40.0     1015.4   2.0  NaN
99  90   2019-04-13 4:00    10.9   45.0     1015.6   2.0  NaN

[100 rows x 7 columns]